<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Buraco</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" >
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" formControlName="street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Price</ion-label>
      <ion-input type="text" formControlName="photo"></ion-input>
    </ion-item>
     
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">Submit</ion-button>
  </form>
</ion-content>
